// http://css-tricks.com/centering-in-the-unknown/
//http://blog.themeforest.net/tutorials/vertical-centering-with-css/

// Vertical Align
// $height : height of the div to be vertical centered
@mixin vertical-center($height, $op: 'absolute') {
  height: $height;
  position: $op;
  top: 50%;
  margin-top: - ($height / 2);
  @include set-position($op);
}

@mixin horizontal-center($width, $op: 'absolute') {
  left: 50%;
  position: $op;

  margin-left: - ($width / 2);
  width: $width;
  @include set-position($op);
}

@mixin absolute-center($width, $height) {
  @include horizontal-center($width);
  @include vertical-center($height);
}

@mixin set-position($op) {
  @if $op == 'relative' {
    position: relative;
  }
  @else {
    position: absolute;
  }
}
// Ghost element technics
// http://codepen.io/chriscoyier/pen/gsodI
// To be applied to the container
// The element to be centered need to have the centered-content class
@mixin centered() {
  & {
    text-align:center;
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .centered-content,
  .centered {
    vertical-align: middle;
    @include inline-block;
  }
}

// http://cdpn.io/BDkdJ
// To be applied to centering container
// need to have a .centered div inside
// IE8 + compatible
@mixin centered-table {
  display:table;
  .centered {
    display:table-cell;
    vertical-align:middle;
    text-align: center;
  }
}

@mixin centering($method) {
  @if ($method == 'table') {
    @include centered-table;
  }
  @else if ($method == 'ghost') {
    @include centered;
  }
}

//http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
@mixin vertical-align-translateY {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Size the height of a div
// relative to a width in %
// Technics in http://stackoverflow.com/questions/10062811/height-div-based-on-percentage-based-width
@mixin ratio($width, $height2width:1) {
    width: $width;
    padding: ($height2width * ($width/2));
    position: relative;
    // http://compass-style.org/examples/compass/css3/box_sizing/
    @include box-sizing(border-box);
}
