// A mixin to style colorbox popin
// http://www.jacklmoore.com/colorbox

// To be applied on a the body element
// Some div of colorbox are not in the #colorbox container
@mixin colorbox(
  $background : white,  // Background color
  $padding: 20px, // Inside padding
  //$z-index: 100, // z-index to be above all element
  $image-dir: 'images',  // The image dir with the trailing slash
  $button-close-pos: 'top-left', // top-right / bottom-right / bottom-left / top-left
  $button-close-align: 'center', // Inner, outer or center / Need the size of the button to be set
  $button-close-size: 25px, // Size of the button icon
  $boder-radius: 10px, //  Size the main div border radius
  $position: absolute // Fixed / absolute
) {

  /*
      Colorbox Core Style:
      The following CSS is consistent between example themes and should not be altered.
  */
  #colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
  #cboxOverlay{position:fixed; width:100%; height:100%;}
  #cboxMiddleLeft, #cboxBottomLeft{clear:left;}
  #cboxContent{position:relative;}
  #cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
  #cboxTitle{margin:0;}
  #cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
  #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
  .cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
  .cboxIframe{width:100%; height:100%; display:block; border:0;}
  #colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

  #colorbox {
    @if ($position == 'fixed') {
       #cboxOverlay { position: fixed;}
     }

     background: $background;

     @include border-radius($boder-radius);

     padding: $padding;
     // Need compass box-shadow
     // http://css3gen.com/box-shadow/
     @include single-box-shadow(rgba(black, 0.5), 7px, 7px, 10px);
     //z-index: $z-index;

     // Default buttons reset
      // these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles
      button {
        background: $background;
        z-index: 15;
         &#cboxPrevious, &#cboxNext, &#cboxSlideshow, &#cboxClose {
           border:0;
           padding:0;
           margin:0;
           overflow:visible;
           width:auto;
           background:none;
           &:active {
             outline:0;
           };
         }
         // The close button
         &#cboxClose {
           position: absolute;
          @if ($button-close-pos == 'top-left') {
             top: 0;
             left: 0;
             @if ($button-close-align == 'center') {
               @if ($button-close-size) {
                 left: - ($button-close-size /2);
                 top: - ($button-close-size /2);
               }
             }
           }

           background: url($image-dir + 'controls.png') no-repeat -25px 0;
           width: $button-close-size;
           height: $button-close-size;
           text-indent: -9999px;
           // Change image in the sprite
           &:hover {
             background-position:-25px -25px;
           };
         }
      }
  }
}