// Modular scale settings
$ms-ratio: $fourth !default;
$ms-base: 11px !default;

@if ($mixy-print-css) {
    //@debug ('mixy print css is set to on and css styles will be outputted');

    $ms-list: -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20;
    @each $size in $ms-list {
        .fs#{$size} {
            font-size: ms($size);
        }
        .mt#{$size} {
            margin-top: ms($size);
        }
        .mb#{$size} {
            margin-bottom: ms($size);
        }
        .ml#{$size} {
            margin-left: ms($size);
        }
        .mr#{$size} {
            margin-right: ms($size);
        }
        .ms-padding#{$size} {
            padding: ms($size);
        }
        .ms-margin#{$size} {
            padding: ms($size);
        }
        .ms-height#{$size} {
            height: ms($size);
        }
        .ms-width#{$size} {
            width: ms($size);
        }
        .pr#{$size} {
            padding-right: ms($size);
        }
        .pl#{$size} {
            padding-laft: ms($size);
        }
        .pt#{$size} {
            padding-top: ms($size);
        }
        .pb#{$size} {
            padding-bottom: ms($size);
        }
    }

    /***********************
     * Other styling classes
     ************************/

    .no-padding {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }
    .no-background {
        background: none;
    }
    .no-border {
        border: none;
    }

    // New clearfix hack (allow the container of float element to size to them)
    // http://davidwalsh.name/css-clear-fix
    .clear:before,
    .clear:after {
        content: " ";
        display: table;
    }

    .clear:after {
        clear: both;
    }
}