

//- http://www.sitepoint.com/using-sass-maps/
$sizesTypes: (
 xs: $dim-xs,
 sm: $dim-sm,
 md: $dim-md,
 lg: $dim-lg
);
@debug $sizesTypes;
$sidesTypes:  (
  top: 't',
  bottom: 'b',
  left: 'l',
  right: 'r'
);

@each $sizeName, $sizeValue in $sizesTypes {
  @each $sideName, $sideValue in $sidesTypes {
    //- Margin
    .m-#{$sideValue}-#{$sizeName} {
      margin-#{$sideName}: $sizeValue;
    }
    .m-#{$sizeName} {
      margin: $sizeValue;
    }
    //- Padding
    .p-#{$sideValue}-#{$sizeName} {
      padding-#{$sideName}: $sizeValue;
    }
    .p-#{$sizeName} {
      padding: $sizeValue;
    }
  }
}