$one-fifth: 20%;
$one-fourth: 25%;
$one-third: 33.333333333333333333333333333%;
$one-half: 50%;
$two-third: 66.666666666666666666666666666%;

// Uses to make standard spacing
$xs: 10px;
$sm: 15px;
$md: 20px;
$lg: 30px;