// Big checkboxes
// http://www.wecook.fr/planning#/_=_

// It's the rotation of the border of a inside rectangle that produce the display
// The label is placed on the checkbox 
// the for attribute trigger the synchronisation of checked status
// <div class="option checkbox">
//     <input id="course-type1" type="checkbox" checked="checked">
//     <label for="course-type1"></label>Entree
// </div>

@mixin mixy-checkbox(
        $display: 'inline-block', // Horizontal or vertical display
        $size: 20px,  // Size
        $checked-color: $greenLight, // Background color when checked 
        $unchecked-color: $information-color,  // BAckground color when unchecked
        $tick-color: white  // Tick color
    ) {
    .checkbox {
        @include clearfix();
        position: relative;
        padding-left: $size + 3px;
        display: $display;

        label{
            cursor: pointer;
            position: absolute;
            width: $size;
            height: $size;
            top: 0;
            background: #CCC;
            border-radius: ($size / 10);
            margin-left: - ($size + 3px);
            &:after {
                @include opacity(0);
                content: '';
                position: absolute;
                width: $size / 2;
                height: $size  / 4;
                background: transparent;
                top: $size / 4;
                left: $size / 4;
                border: ($size / 10) solid white;
                border-top: none;
                border-right: none;
                @include transform(rotate(-45deg));
            }
            &:hover::after {
                @include opacity(0.5);
            }
        }

        input[type=checkbox] {
            display: none;
            &:checked + label {
                background: $checked-color;
                &:after {
                    @include opacity(1);
                    opacity: 1;
                }
            }
        }
        + label, + span.label {
            vertical-align: top;
            cursor: pointer;
            @include user-select(none);
        }
    }
}


@mixin mixy-forms {
    @include mixy-checkbox;

}