@mixin css-position($top: 0, $right: 0, $bottom: 0, $left: 0) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// Fix a scroll problem on a scrollable div on mobile
// http://programming.mvergel.com/2013/09/solved-smooth-div-scrolling-in-ipad.html
@mixin mobile-scroll-fix() {
    -webkit-overflow-scrolling: touch;
}

// Per aps in compass directly to see
// https://github.com/michaelsacca/Compass-Placeholder-Text-Mixin/blob/master/_placeholderText.scss
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}

// When a style is defined to a div, and a sub div is also targeted 
// We need to stop em 
/* 
div.small-text 
  p
  
.small-text {
  font-size: 0.7em;
}
p {
  font-size: 0.5em;
}
If we do nothing, p inside small text will be very small
So we make 
.small-text {
  @inlude stop-em;
}
To stop the heritage to common text block 
@todo complete with otehr cases

*/
@mixin stop-em {
  // Sub element don't get reduced 
  li, a, p {
    font-size: 1em;
  }
}