//  Require sass 3.2 version the latest to do this
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/

$xl: 1200px;
$l: 1024px;   
$m: 768px;
$s: 480px;
$xs: 320px;

$mob: 'mmax';
$iphone: 's'; // 320 portait 480 landscape 
$iphoneL: 'xs'; // Iphone portrait 320
$ipadP: 'm'; // 768 ipad portrait 
// exactly 768 could be adresses with min-width: 768 max-width: 1023
$ipadL: 'l'; //1024 ipad landscape

@mixin bs-query($point) {
  // Twitter bootstrap 
  // xs / Extra small devices / Phones < 768px
  // sm / Small devices / Tablets >= 768px
  // md / Medium devices / Desktops >= 992px
  // ld / Large devices / Desktops >= 1200px
  @if $point == xs {
    @media (max-width: 767px) { @content; }
  }
  @if $point == sm {
    @media (min-width: 768px) { @content; }
  }
  @if $point == md {
    @media (min-width: 992px) { @content; }
  }
  @if $point == ld {
    @media (min-width: 1200px) { @content; }
  }
}

@mixin break($point) {
  
  @if $point == xl {
    // 1025 to 1200
    @media (min-width: $l + 1px) and (max-width: $xl) { @content; }
  }
  @if $point == l {
    // 769 to 1024
    @media (min-width: $m + 1px) and (max-width: $l) { @content; }
  }
   // 481 to 768
  @if $point == m {
    @media (min-width: $s + 1px) and (max-width: $m) { @content; }
  }
  // As we have a mobile first approach. 
  // This break point should normally not be used. 
  // As it's the default
  // It's a special breakpoints as it is the first, so it's similar to smax
  // @todo make the iphone portait xs
  // 480 and below
  @if $point == s {
    @media (max-width: $s) { @content; }
  }
  
  // Smaller than
  @if $point == xlmax {
    @media (max-width: $xl) { @content; }
  }
  @if $point == lmax {
    @media (max-width: $l) { @content; }
  }
  @if $point == mmax {
    @media (max-width: $m) { @content; }    
  }
  @if $point == smax {
    @media (max-width: $s) { @content; }    
  }
  
  // Greater than
  @if $point == xlmin {
    @media (min-width: $xl) { @content; }
  }
  // At least 1024
  @if $point == lmin {
    @media (min-width: $l) { @content; }
  }
  @if $point == mmin {
    @media (min-width: $m) { @content; }
  }
  @if $point == smin {
    @media (min-width: $s) { @content; }    
  }
}

// Twitter bootstrap has the class img-responsive 
// that give a max-width: 100% 
// But this don't allow lower res images to be scaled up 
// Even if their resolution is lower
.img-scale-width {
  width: 100%;
}