//http://css-tricks.com/examples/ShapesOfCSS/
// Need a wrapper
// $ratio height / width factor
@mixin triangle($type, $size: 100px, $color: gray, $ratio: 1) {
  width: 0;
	height: 0;
  @if ($type == 'top-left') {
    border-top: $size solid $color;
  	border-right: $size solid transparent;
  }
  @else if ($type == 'top-right') {
    border-top: $size solid $color;
  	border-left: $size solid transparent;
  }
  @else if ($type == 'bottom-left') {
    border-bottom: $size solid $color;
    border-right: $size solid transparent;
  }
  @else if ($type == 'bottom-right') {
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
  }
  @else if ($type == 'up') {
    border-left: ($size / 2) solid transparent;
  	border-right: ($size / 2) solid transparent;
  	border-bottom: ($size * $ratio) solid $color;
  }
  @else if ($type == 'down') {
    border-left: ($size / 2) solid transparent;
  	border-right: ($size / 2) solid transparent;
  	border-top: ($size * $ratio) solid $color;
  }
}

@mixin triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid red;
}

// Need a wrapper 
// div.button
// div.inner
// button {@include button-chamfered();}
@mixin button-chamfered(
  $chamfer-size: 20px,
  $background: gray
) {
  background: $background;
  position: relative;
  
  .top-right, .top-left, .bottom-right, .bottom-left {
    background: $background;
    content: '';
    position: absolute;
   
  }
  // The wrapper
  .top-right {
    @include triangle('top-right', $chamfer-size, white);
    top: 0;
    right: 0;
  }
  .top-left {
    @include triangle('top-left', $chamfer-size, white);
    top: 0;
    left: 0;
  }
  .bottom-left {
    @include triangle('bottom-left', $chamfer-size, white);
    bottom: 0;
    left: 0;
  }
  .bottom-right {
    @include triangle('bottom-right', $chamfer-size, white);
    bottom: 0;
    right: 0;
  }
}
