// Full background stamp with a fontface logo in the middle
//
// To be applied to the wrapper div around the div icon
// div.wrapper Wrapper
//  div.wrapper-background Colored background
//    .centered Fontface Icon
//  img Background images

@mixin full-stamp($background: blue, $color: white) {
  position: relative;
  .wrapper-background {
    background: $background;
    position: absolute;
    height: 100%;
    width: 100%;
    @include centered;
    .centered {
      color: $color;
    }
  }
}

// To be applied to the wrapper div around the div icon

// div.wrapper Wrapper
//  div.wrapper-background Colored background
//    .centered Fontface Icon
//  img Background images
@mixin middle-stamp($background: 'none', $color: 'black', $padding: 2em) {
  
  @include full-stamp($background: 'none', $color: $color); // Wrapper background need to have centered class
  .centered {
    background: $background;
    padding: $padding;
  }
 
}

// Allow a dummy image to size its container
img.dummy-sizer {
  position: absolute;
  z-index: -10;
}

// To be applied to the container of the post element 
// The post element has the class .post
// http://css-tricks.com/how-nth-child-works/
// $col number of column
// @todo be generalized for any number of column 
// IE don't suppor it from IE8 and below use jquery with a class to complete this rule
@mixin clear-right-margin($col) {
  @if ($col == 2) {
    & .post:nth-child(even) {
     margin-right: 0;
    }
  }
  @else if ($col == 3) {
    & .post:nth-child(3n+3) {
      margin-right: 0;
    }
  }
  @else if ($col == 4) {
    & .post:nth-child(4n+4) {
      margin-right: 0;
    }
  }
  @else if ($col == 4) {
    & .post:nth-child(5n+5) {
      margin-right: 0;
    }
  } 
}