.center {
  text-align: center;
}

// Force container to be of the floated elements dimensions
@mixin float-wrap {
  overflow: visible;
}
// Allow a dummy image to size its container
img.dummy-sizer {
  position: absolute;
  z-index: -10;
}