// http://alistapart.com/article/creating-intrinsic-ratios-for-video

// To be applied to the video wrapper div container
// .wrapper video
@mixin video-fluid-ratio($width: 16, $height: 9) {
  position: relative;
  padding-bottom: ($height / $width) * 100%;
  height: 0;
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}